<h1>Naruto SHIPPUDDEN</h1>
<table>
  <tr>
    <th>image</th>
    <th>name</th>
    <th>caracteristique</th>
  </tr>
  <tr>
    <td><img src="./../assets/naruto.jpg" width="100px" /></td>
    <td>Naruto UZUMAKI</td>
    <td>Kyubi</td>
  </tr>
</table>

<router-outlet></router-outlet>